.HowItWorksColourWrapper {
  background-color: rgba(255, 188, 44, 0.738);
}

.HowItWorks {
  margin: auto;
  max-width: 1450px;
  text-align: center;
  padding-top: 20px;
}

.HowItWorksCurve {
  width: 100%;
  height: 70px;
  background-color: rgba(255, 188, 44, 0.738);
  /* border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%; */
  margin-bottom: -100px;
}

.HowItWorksWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.HowItWorksItem {
  padding: 20px;
}

.HowItWorksText {
  margin-top: 20px;
  max-width: 350px;
}

.HowItWorksTitle {
  font-size: 50px;
  font-family: Circular-Black;
  color: #212529;
  margin: auto;
  margin-top: -69px;
  margin-bottom: 0px;
}

.HowItWorksItemTitle {
  font-size: 26px;
  font-family: Circular-Black;
  color: #212529;
  line-height: 140%;
}

.HowItWorksText p {
  font-size: 20px;
  color: #495057;
  line-height: 140%;
}

.HowItWorksItemImg {
  width: 60px;
  height: 60px;
  margin-top: 30px;
}

/* Mobile only styling */

@media screen and (max-width: 1000px) {
  .HowItWorks {
    padding: 30px;
  }
  .HowItWorksCurve {
    height: 70px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-bottom: -100px;
  }
  .HowItWorksTitle {
    font-size: 40px;
    line-height: 0.8;
    margin-top: -92px;
    margin-bottom: 40px;
    text-align: right;
  }
  .HowItWorksItemTitle {
    font-size: 26px;
  }
  .HowItWorksText p {
    font-size: 20px;
    margin-top: 10px;
  }
  .HowItWorksWrapper {
    flex-wrap: wrap;
  }
  .HowItWorksItem {
    text-align: left;
    padding: 10px 0px;
  }
  .HowItWorksItemImg {
    width: 50px;
    height: 50px;
    margin: auto;
    margin-bottom: 10px;
  }
  .HowItWorksText {
    margin-top: 0px;
    max-width: 350px;
  }
}