@font-face {
  font-family: Circular;
  src: url(../fonts/CircularStd-Book.otf);
}

@font-face {
  font-family: Circular-bold;
  src: url(../fonts/CircularStd-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: Circular-black;
  src: url(../fonts/CircularStd-Black.otf);
  font-weight: bolder;
}

.wrapperLandingParent {
  font-family: Circular;
  /* height: 100vh; */
}

.titleDescriptionLanding {
  color: white;
  font-size: 65px;
  font-family: Circular-black;
  max-width: 1100px;
  margin: auto;
  /* font-weight: lighter; */
  /* letter-spacing: -3px; */
  text-align: center;
  line-height: 1;
}

.react-parallax-content {
  height: 700px;
}

.react-parallax {
  margin-top: 0px;
  height: 700px;
}

.custom-bg {
  width: 100vw;
  height: 700px;
}

.photosLandingWrapper {
  width: 100%;
  height: 700px;
  overflow: hidden;
  position: relative;
}

.photoLanding {
  object-fit: cover;
  z-index: -100;
  /* margin-top: 50px; */
}

.photoLandingLoaded {
  opacity: 0.9;
  animation: landingFadeIn 1000ms;
}

@keyframes landingFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

.titleDescriptionLandingWrapper {
  margin: auto;
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  /* max-width: 1000px; */
}

.locationWrapper {
  position: absolute;
  top: 400px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 85%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 190px;
  max-width: 500px;
}

.supportedAreas {
  position: absolute;
  top: 300px;
  left: 0;
  right: 0;
  font-family: Circular-bold;
  color: white;
  font-size: 20px;
}

.supportedAreasLinks {
  display: inline-block;
}

.supportedAreasLinks > a {
  color: white;
  padding: 10px;
}


.descriptionLandingItemFullLogo {
  min-width: 300px;
  max-width: 600px;
  /* width: 100%; */
  box-sizing: border-box;
  padding: 36px;
  margin: 0px 0px;
}

.searchBarLandingWrapper {
  margin: auto;
  width: 80%;
  background-color: white;
  border-radius: 5px;
  text-align: left;
  padding: 4px 0px 4px 10px;
  -moz-box-shadow: 0px 6px 8px rgb(85, 85, 85);
  -webkit-box-shadow: 6px 0px 8px rgb(71, 71, 71);
  box-shadow: 0px 3px 6px rgb(56, 56, 56);
  border: solid 1px #ff981100;
}

.searchBarLandingWrapper > a {
  color: grey;
  font-size: 26px;
  text-decoration: unset;
  width: 100%;
  display: inline-block;
}

.currentLocationLanding {
  width: 38px;
  height: 38px;
  background-color: white;
  border-radius: 30px;
  color: grey;
  padding: 2px;
  -moz-box-shadow: 0px 6px 8px rgb(85, 85, 85);
  -webkit-box-shadow: 6px 0px 8px rgb(71, 71, 71);
  box-shadow: 0px 3px 6px rgb(56, 56, 56);
  border: solid 1px #ff981100;
  margin-left: 10px;
}

.currentLocationLanding img {
  width: 32px;
  margin-top: 3px;
}

.header {
  font-family: Circular;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  background-color: rgb(255, 188, 44);
  padding: 8px 0px 8px 15px;
  text-align: left;
  font-size: 30px;
  letter-spacing: -1px;
  -moz-box-shadow: 0px 3px 6px rgba(56, 56, 56, 0.562);
  -webkit-box-shadow: 0px 3px 6px rgba(56, 56, 56, 0.562);
  box-shadow: 0px 3px 6px rgba(56, 56, 56, 0.562);
  z-index: 200;
  box-sizing: border-box;
}

.headerTextHapi {
  color: black;
  text-decoration: none;
  float: left;
  font-family: Circular-black;
}

.headerTextHour {
  color: black;
  text-decoration: none;
  float: left;
}

.faqFooter {
  display: block;
  padding: 0px 0px 8px 0px;
  font-size: 20px;
  margin-bottom: 5px;
}

.donationWrapper {
  margin: auto;
  color: rgb(72, 72, 72);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 30px;
}

.donationItem {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.donationItem img {
  width: 150px;
}

.donationItemTitle {
  font-size: 26px;
  font-family: Circular-black;
  color: #212529;
  line-height: 140%;
}

.donationItemDesc {
  font-size: 20px;
  color: #495057;
  line-height: 140%;
  max-width: 600px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.overlayWrapper {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.342);
  top: 0;
  left: 0;
}

.CheckItOutButton {
  padding: 16px 52px;
  text-align: center;
  /* background-color: rgb(253, 184, 37); */
  background-color: rgb(6, 139, 139);
  border: none;
  color: white;
  border-radius: 16px;
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,.1), 0 8px 16px 0 rgba(0,0,0,.1);
  cursor: pointer;
}

.CheckItOutButton:hover {
  background-color: rgb(0, 115, 115);
}

@media screen and (max-width: 1000px) {
  .react-parallax {
    margin-top: 45px;
    /* height: calc(100vh - 170px); */
    height: 600px;
  }
  .custom-bg {
    /* height: calc(100vh - 170px); */
    height: 600px;
  }
  .photosLandingWrapper {
    margin-top: 0px;
    top: 0;
    /* height: calc(100vh - 170px); */
    height: 585px;
  }
  .photoLanding {
    /* height: calc(100vh - 170px); */
    height: 600px;
    margin-top: 50px;
  }

  .wrapperLandingParent {
    height: 100%;
  }

  .locationWrapper {
    top: 450px;
    margin-bottom: 50px;
  }

  .searchBarLandingWrapper {
    padding: 5px 0px 5px 10px;
  }
  
  .searchBarLandingWrapper > a {
    font-size: 20px;
  }

  .currentLocationLanding {
    width: 31px;
    height: 31px;
  }
  
  .currentLocationLanding img {
    width: 26px;
    margin-top: 3px;
  }

  .supportedAreas {
    font-size: 18px;
    top: 370px;
    text-align: left;
    padding-left: 22px;
  }

  .titleDescriptionLanding {
    color: white;
    font-weight: bolder;
    font-size: 45px;
    width: 80%;
    text-align: left;
    margin: auto;
    margin-top: 110px;
  }
  
  .titleDescriptionLandingWrapper {
    margin: auto;
    width: 80%;
    top: 0;
    right: unset;
  }

  .descriptionLandingItemFullLogo {
    width: 100%;
    box-sizing: border-box;
    padding: 36px;
    margin: 0px 0px;
  }

  .bottomTextLandingWrapper {
    font-size: 12px;
    font-weight: 200;
    height: 50px;
    padding-top: 20px;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: rgb(206, 206, 206);
  }

  .donationWrapper {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: right;
  }
  
  .donationItem img {
    width: 120px;
  }
  
  .donationItemTitle {
    font-size: 26px;
  }
  
  .donationItemDesc {
    font-size: 22px;
  }

  .header {
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    background-color: rgb(244, 191, 75);
    padding: 5px 0px 8px 15px;
    text-align: left;
    font-size: 25px;
    z-index: 200;
  }

  .faqFooter {
    font-size: 17px;
  }
}

@media (max-width: 321px){
  .titleDescriptionLanding {
    font-size: 60px;
  }
}

.footer {
  left: 0;
  bottom: 0;
  background-color: rgba(255, 188, 44, 0.945);
  text-align: left;
  padding: 20px;
  box-shadow: inset 0px 11px 10px -10px rgb(145, 145, 145);
}

.footerItem {
  display: block;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
  color: white;
  padding: 0px 0px 15px 0px;
}

.faqFooter:hover {
  color: black;
}

.faq {
  font-family: Circular-black;
  font-size: 20px;
  padding: 0px;
}

.beerIconLanding {
  height: 25px;
  margin-top: 4px;
  float: right;
  margin-right: 15px;
}
