.wrapperLandingParent {
  font-family: Circular;
  background-color: rgba(252, 252, 252, 0.888);
  margin: auto;
  /* margin-top: 80px; */
}

.titleDescriptionLanding {
  color: white;
  font-size: 65px;
  font-family: Circular-Black;
  max-width: 1100px;
  margin: auto;
  text-align: center;
  line-height: 1;
}

.react-parallax-content {
  height: 750px;
}

.react-parallax { 
  margin-top: 0px;
  height: 750px;
}

.custom-bg {
  width: 100vw;
  height: 950px;
}

.photosLandingWrapper {
  width: 100%;
  height: 750px;
  overflow: hidden;
  position: relative;
  margin-top: 0px;
}

.photoLanding {
  object-fit: cover;
  z-index: -100;
}

.photoLandingLoaded {
  opacity: 0.9;
  animation: landingFadeIn 1000ms;
}

@keyframes landingFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

.titleDescriptionLandingWrapper {
  margin-top: 220px;
}

.locationWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 85%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 190px;
  max-width: 500px;
  transition: ease 0.5s;
}

.locationWrapper:hover {
  transform: translateY(-5px);
}

.supportedAreas {
  margin-top: 15px;
  font-family: Circular-Bold;
  color: white;
  font-size: 20px;
}

.supportedAreasLinks {
  display: inline-block;
  transition: ease 0.5s;
}

.supportedAreasLinks>a {
  color: white;
  padding: 10px;
}

.supportedAreasLinks:hover {
  transform: translateY(-3px);
}

.searchBarLandingWrapper {
  margin: auto;
  width: 80%;
  background-color: white;
  border-radius: 5px;
  text-align: left;
  padding: 4px 0px 4px 10px;
  -moz-box-shadow: 0px 6px 8px rgb(85, 85, 85);
  -webkit-box-shadow: 6px 0px 8px rgb(71, 71, 71);
  box-shadow: 0px 3px 6px rgb(56, 56, 56);
  border: solid 1px #ff981100;
}

.searchBarLandingWrapper>a {
  color: grey;
  font-size: 26px;
  text-decoration: unset;
  width: 100%;
  display: inline-block;
}

.currentLocationLanding {
  width: 38px;
  height: 38px;
  background-color: white;
  border-radius: 30px;
  color: grey;
  padding: 2px;
  -moz-box-shadow: 0px 6px 8px rgb(85, 85, 85);
  -webkit-box-shadow: 6px 0px 8px rgb(71, 71, 71);
  box-shadow: 0px 3px 6px rgb(56, 56, 56);
  border: solid 1px #ff981100;
  margin-left: 10px;
}

.currentLocationLanding img {
  width: 32px;
  margin-top: 3px;
}

/* .BarButton {
  padding: 10px 20px;
  text-align: center;
  background-color: rgb(255, 188, 44);
  border: none;
  color: white;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, .1), 0 8px 16px 0 rgba(0, 0, 0, 0.046);
  cursor: pointer;
  float: right;
}

.BarButton:hover {
  opacity: 0.8;
} */

.overlayWrapper {
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.169));
  top: 0;
  left: 0;
}

.CheckItOutButton {
  padding: 16px 52px;
  text-align: center;
  background-color: rgb(6, 139, 139);
  border: none;
  color: white;
  border-radius: 16px;
  font-size: 26px;
  font-weight: bold;
  margin-top: -10px;
  margin-bottom: 0px;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, .1), 0 8px 16px 0 rgba(0, 0, 0, .1);
  cursor: pointer;
  transition: ease 0.5s;
  z-index: 100;
}

.CheckItOutButton:hover {
  background-color: rgb(0, 115, 115);
  transform: translateY(-5px);
}

@media screen and (max-width: 1000px) {
  .react-parallax {
    /* margin-top: 45px; */
    height: 660px;
  }
  .custom-bg {
    height: 860px;
  }
  .photosLandingWrapper {
    margin-top: 0px;
    top: 0;
    height: 580px;
  }
  .photoLanding {
    height: 670px;
    margin-top: 50px;
  }
  .wrapperLandingParent {
    height: 100%;
  }
  .locationWrapper {
    /* top: 450px; */
    /* margin-bottom: 50px; */
  }
  .searchBarLandingWrapper {
    padding: 5px 0px 5px 10px;
  }
  .searchBarLandingWrapper>a {
    font-size: 20px;
  }
  .currentLocationLanding {
    width: 31px;
    height: 31px;
  }
  .currentLocationLanding img {
    width: 26px;
    margin-top: 3px;
  }
  .supportedAreas {
    font-size: 18px;
    text-align: left;
    /* padding-left: 20px; */
    width: 81%;
    margin: auto;
    margin-top: 20px;
  }
  .supportedAreasLinks>a {
    padding-left: 0px;
  }
  .titleDescriptionLanding {
    color: white;
    font-weight: bolder;
    font-size: 50px;
    letter-spacing: -1.5px;
    width: 82%;
    text-align: left;
  }
  .titleDescriptionLandingWrapper {
    margin: auto;
    margin-top: 120px;
    width: 100%;
    /* top: 0;
    right: unset; */
  }
  .CheckItOutButton {
    font-size: 27px;
    padding: 14px 46px;
  }
}

@media (max-width: 361px) {
  .titleDescriptionLanding {
    font-size: 40px;
  }
}