.Header {
  /* left: 0; */
  top: 0;
  position: fixed;
  width: 100%;
  background-color: rgba(44, 44, 44, 0.464);
  color: #495057;
  text-align: left;
  /* font-size: 30px; */
  /* letter-spacing: -1px; */
  /* -moz-box-shadow: 0px 3px 6px rgba(56, 56, 56, 0.562);
  -webkit-box-shadow: 0px 3px 6px rgba(56, 56, 56, 0.562);
  box-shadow: 0px 3px 6px rgba(56, 56, 56, 0.562); */
  z-index: 200;
  box-sizing: border-box;
  font-family: Circular;
}

.Header img {
  height: 60px;
  padding: 8px 0px 6px 25px;
  /* box-sizing: border-box; */
}

/* Links inside the navbar */

.Header a {
  float: right;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  padding: 28px 30px;
  text-decoration: none;
}

/* The dropdown container */

.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */

.dropdown .dropbtn {
  font-size: 20px;
  color: #ffffff;
  border: none;
  outline: none;
  padding: 28px 30px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */

.Header a:hover, .dropdown:hover .dropbtn {
  background-color: rgba(255, 188, 44, 0.738);
}

/* Dropdown content (hidden by default) */

.dropdown-content {
  font-family: Circular;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */

.dropdown-content a {
  float: none;
  color: #212529;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
  display: block;
}

/* Only For Mobile */

@media screen and (max-width: 800px) {
  .Header img {
    height: 55px;
    padding: 10px 0px 6px 20px;
  }
  /* Links inside the navbar */
  .Header a {
    font-size: 18px;
    padding: 10px 30px;
  }
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 18px;
    padding: 10px 10px 18px;
    /* border-top: solid rgba(219, 219, 219, 0.608) 1px; */
  }
  .ToggleActive {
    background-color: rgba(237, 179, 53, 0.957);
  }
  .Header a {
    float: left;
  }
  .dropdown {
    text-align: center;
  }
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    display: block;
    text-align: right;
    border-top: solid rgba(219, 219, 219, 0.436) 1px;
  }
  /* Add a red background color to navbar links on hover */
  .Header a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(237, 179, 53, 0.238);
  }
  .HeaderItem {
    display: none;
  }
  .HeaderMobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(237, 179, 53, 0.238);
    -moz-box-shadow: 0px 3px 6px rgba(56, 56, 56, 0.562);
    -webkit-box-shadow: 0px 3px 6px rgba(56, 56, 56, 0.562);
    box-shadow: 0px 3px 4px rgba(84, 84, 84, 0.347);
    /* transition: ease 0.5s; */
  }
  .MobileItem {}
}

/* Only For Desktop */

@media screen and (min-width: 801px) {
  .HeaderMobile {}
}