.wrapper {
  /* display: flex; */
  /* flex-direction: row-reverse; */
  /* height: 100vh; */
}

.barDetailsWrapper{
  flex-direction: column;
}

.barContainer {
  /* position: fixed; */
  width: 100%;
  height: 100%;
  text-align: left;
}

.navigationClass{
  font-size: 12px;
  position:fixed;
  top: 20px;
  left: 15px;
  padding: 5px 5px 2px 4px;
  text-decoration: none;
  text-align: center;
  background-color: rgba(255, 188, 44, 0.945);
  z-index: 100;
  -moz-box-shadow: 0px 0px 6px rgb(170, 170, 170);
  -webkit-box-shadow: 0px 0px 6px rgb(170, 170, 170);
  box-shadow: 0px 1px 3px rgb(46, 46, 46);
  border-radius: 2px;
  margin-top: 32px;
}

/* .bottomTextWrapper{
  font-size: 12px;
  font-weight: 200;
  position:fixed;
  bottom: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
  text-align: center;
  background-color: rgb(206, 206, 206);
  z-index: 100;
} */

.bottomTextbackNavigation{
    height: 20px;
    width: 22px;
}

.footerCenter{
  text-align: center;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 188, 44, 0.945);
  padding: 12px;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
  color: white;
}

.footerItemTitle{
  display: block;
  padding: 0px 0px 8px 0px;
}

.inline{
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
  color: white;
  padding: 0px 15px 0px 0px;
}

.dot{
  font-size: 30px;
}

@media screen and (max-width: 1000px) {
  .wrapper {
    flex-direction: column;
  }

  .barContainer {
    width: 100%;
    height: 100%;
  }
}
