.wrapper {
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
}
  
.barContainer {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
}


@media screen and (max-width: 1000px) {
  .wrapper {
    flex-direction: column;
  }
  
  .barContainer {
    width: 100%;
    height: 100%;
  }

  .bottomTextWrapper{
    font-size: 12px;
    font-weight: 200;
    position:fixed;
    bottom: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%;
    text-align: center;
    background-color: rgb(206, 206, 206);
    z-index: 100;
  }
}