.wrapperLanding {
    max-width: 1400px;
    margin: auto;
}

.wrapperLanding {
    color: rgb(72, 72, 72);
}

.titleLandingWrapper{
    /* margin: auto; */
    margin-top: 100px;
    width: 100%;
}

.titleLanding{
    font-size: 30px;
}

.animationLandingWrapper{
    margin-top: 100px;
}

.searchBarLandingWrapper{
    margin: auto;
    position: relative;
    margin-top: 100px;
    width: 50%;
}

.searchBarLanding{
    -moz-box-shadow: 0px 6px 8px rgb(170, 170, 170);
    -webkit-box-shadow: 6px 0px 8px rgb(170, 170, 170);
    box-shadow: 0px 3px 6px rgb(170, 170, 170);
    border: solid 1px #ff981100;
    border-radius: 3px;
}

.descriptionLandingWrapper{
    /* margin-top: 300px; */
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    /* height: 100vh; */
}

.descriptionLandingTitle{
    width: 350px;
    margin: auto;
    margin-top: 300px;
    font-size: 25px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(202, 202, 202);
    padding-bottom: 10px;
}

.descriptionLandingItem{
    width: 100%;
    padding: 40px;
}

.descriptionLandingItemDesc{
    font-size: 15px;
    letter-spacing: 0.5px;
    margin-top: 8px;
}

.descriptionLandingItemImg{
    width: 100px;
}

.descriptionLandingItemTitle{
    font-size: 17px;
    margin-top: 10px;
    /* padding: 10px; */
    color: rgba(255, 188, 44, 0.945);
}

  
.bottomTextWrapper{
  font-size: 12px;
  font-weight: 200;
  position:fixed;
  bottom: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
  text-align: center;
  background-color: rgb(206, 206, 206);
  z-index: 100;
}
  
.bottomTextbackNavigation{
  height: 20px;
  width: 22px;
}  
  
@media screen and (max-width: 750px) {

    .descriptionLandingTitle{
        width: 300px;
        font-size: 20px;
    }

    .descriptionLandingWrapper{
        flex-wrap: wrap;
        margin-bottom: 100px;
    }

    .descriptionLandingItem{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: left;
    }
    
    .descriptionLandingText{
        margin-left: 20px;
    }
  
}
  