@font-face {
  font-family: Circular;
  src: url(./fonts/CircularStd-Book.otf);
}

@font-face {
  font-family: Circular-bold;
  src: url(./fonts/CircularStd-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: Circular-black;
  src: url(./fonts/CircularStd-Black.otf);
  font-weight: bolder;
}

.wrapperLandingParent {
  font-family: Circular;
  height: 100vh;
}

.titleDescriptionLanding {
  color: white;
  font-size: 90px;
  font-family: Circular-black;
  /* font-weight: lighter; */
  /* letter-spacing: -3px; */
  text-align: center;
  line-height: 1;
}

.react-parallax-content {
  height: 600px;
}

.react-parallax {
  margin-top: 0px;
}

.custom-bg {
  width: 100vw;
  height: 700px;
}

.descriptionColourWrapper {
  background-color: rgba(255, 188, 44, 0.945);
  box-shadow: inset 0px 11px 10px -10px rgba(192, 192, 192, 0.747);
}

.descriptionAndTitleLandingWrapper {
  margin: auto;
  margin-top: -30px;
  margin-bottom: 20px;
  padding-top: 30px;
  max-width: 1100px;
  color: rgb(72, 72, 72);
}

.descriptionLandingWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.descriptionLandingItemFullLogo {
  margin-top: -0px;
  width: 70%;
  /* height: 170px; */
  min-width: 300px;
  max-width: 500px;
}

.descriptionLandingTitle {
  width: 200px;
  margin: auto;
  font-size: 24px;
  font-family: Circular-bold;
  border-bottom: 2px solid rgb(72, 72, 72);
  padding-bottom: 10px;
}

.descriptionLandingItem {
  width: 100%;
  padding: 40px;
}

.descriptionLandingItemDesc {
  font-family: Circular-bold;
  font-size: 16px;
  margin-top: 8px;
}

.descriptionLandingItemImg {
  width: 64px;
  height: 64px;
}

.descriptionLandingText {
  margin-top: 20px;
  max-width: 350px;
}

.descriptionLandingItemTitle {
  font-size: 20px;
  font-family: Circular-black;
  margin-top: 10px;
  color: white;
}

.titleDescriptionLandingWrapper {
  margin: auto;
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  max-width: 1000px;
}

.locationWrapper {
  position: absolute;
  top: 270px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 85%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 190px;
  max-width: 500px;
}

.supportedAreas {
  position: absolute;
  top: 555px;
  left: 0;
  right: 0;
  font-family: Circular-bold;
  color: white;
  font-size: 20px;
}

.supportedAreasLinks {
  display: inline-block;
}

.supportedAreasLinks > a {
  color: white;
  padding: 10px;
}

.searchBarLandingWrapper {
  margin: auto;
  width: 80%;
  background-color: white;
  border-radius: 5px;
  text-align: left;
  padding: 5px 0px 5px 10px;
  -moz-box-shadow: 0px 6px 8px rgb(85, 85, 85);
  -webkit-box-shadow: 6px 0px 8px rgb(71, 71, 71);
  box-shadow: 0px 3px 6px rgb(56, 56, 56);
  border: solid 1px #ff981100;
}

.searchBarLandingWrapper > a {
  color: grey;
  font-size: 20px;
  text-decoration: unset;
  width: 100%;
  display: inline-block;
}

.currentLocationLanding {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 30px;
  color: grey;
  /* font-size: 20px; */
  padding: 2px;
  -moz-box-shadow: 0px 6px 8px rgb(85, 85, 85);
  -webkit-box-shadow: 6px 0px 8px rgb(71, 71, 71);
  box-shadow: 0px 3px 6px rgb(56, 56, 56);
  border: solid 1px #ff981100;
  margin-left: 10px;
}

.currentLocationLanding img {
  width: 25px;
  margin-top: 3px;
}

.photosLandingWrapper {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
}

.photoLanding {
  object-fit: cover;
  z-index: -100;
  min-height: 600px;
  margin-top: 50px;
}

.photoLandingLoaded {
  opacity: 0.9;
  animation: landingFadeIn 1000ms;
}

@keyframes landingFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

.header {
  font-family: Circular;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  background-color: rgb(255, 188, 44);
  padding: 8px 0px 8px 15px;
  text-align: left;
  font-size: 30px;
  letter-spacing: -1px;
  -moz-box-shadow: 0px 3px 6px rgba(56, 56, 56, 0.562);
  -webkit-box-shadow: 0px 3px 6px rgba(56, 56, 56, 0.562);
  box-shadow: 0px 3px 6px rgba(56, 56, 56, 0.562);
  z-index: 200;
  box-sizing: border-box;
}

.headerTextHapi {
  color: black;
  text-decoration: none;
  float: left;
  font-family: Circular-black;
}

.headerTextHour {
  color: black;
  text-decoration: none;
  float: left;
}

.faqFooter {
  display: block;
  padding: 0px 0px 8px 0px;
  font-size: 20px;
  margin-bottom: 5px;
}

.instaFeed {
  text-align: center;
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 30px;
}

.singleInsta {
  flex-direction: row;
  padding-top: 20px;
}

.donationWrapper {
  margin: auto;
  max-width: 1100px;
  color: rgb(72, 72, 72);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.donationItem {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.donationItemDesc {
  font-size: 14px;
  font-weight: lighter;
  margin-top: 8px;
  margin-bottom: 10px;
  max-width: 300px;
}

.donationItemTitle {
  font-size: 15px;
  font-family: Circular-black;
  margin-top: 20px;
}

.overlayWrapper {
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1000px) {
  .react-parallax {
    margin-top: 45px;
    /* height: calc(100vh - 170px); */
    height: 600px;
  }
  .custom-bg {
    /* height: calc(100vh - 170px); */
    height: 600px;
  }
  .photosLandingWrapper {
    margin-top: 0px;
    top: 0;
    /* height: calc(100vh - 170px); */
    height: 600px;
  }
  .photoLanding {
    /* height: calc(100vh - 170px); */
    height: 600px;
  }

  .wrapperLandingParent {
    height: 100%;
  }

  .locationWrapper {
    top: 360px;
    margin-bottom: 50px;
  }

  .supportedAreas {
    font-size: 18px;
    top: 540px;
  }

  .descriptionAndTitleLandingWrapper {
    margin: auto;
    max-width: 1100px;
    margin-top: -12px;
    color: rgb(72, 72, 72);
    padding-top: 30px;
    /* background-color: rgba(255, 188, 44, 0.945);
        box-shadow:
        inset 0px 11px 10px -10px rgba(192, 192, 192, 0.747); */
  }

  .titleDescriptionLanding {
    color: white;
    font-weight: bolder;
    font-size: 70px;
    /* width: 300px; */
    width: 80%;
    text-align: left;
    /* margin-top: 8vh; */
    margin: auto;
    margin-top: 110px;
  }
  
  .titleDescriptionLandingWrapper {
    /* margin-left: 30px; */
    margin: auto;
    width: 80%;
    top: 0;
    right: unset;
  }

  .searchBarLandingWrapper{

  }


  .descriptionLandingTitle {
    /* margin-top: 55vh; */
    /* margin-top: 40px; */
    margin-bottom: 10px;
    width: 200px;
    font-size: 20px;
  }

  .descriptionLandingWrapper {
    flex-wrap: wrap;
    padding-bottom: 20px;
  }

  .descriptionLandingItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    padding: 30px;
  }

  .descriptionLandingText {
    margin-left: 20px;
  }

  .descriptionLandingItemImg {
    width: 55px;
    height: 55px;
    margin-top: 12px;
  }

  .descriptionLandingText {
    margin-top: 0px;
    max-width: 350px;
  }

  .descriptionLandingItemDesc {
    font-size: 17px;
    margin-top: 0px;
  }

  .descriptionLandingItemTitle {
    font-size: 17px;
    font-family: Circular-bold;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    /* color: rgba(255, 188, 44, 0.945); */
  }

  

  .descriptionLandingItemFullLogo {
    margin-top: 5px;
  }

  .bottomTextLandingWrapper {
    font-size: 12px;
    font-weight: 200;
    height: 50px;
    padding-top: 20px;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: rgb(206, 206, 206);
  }

  .header {
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    background-color: rgb(255, 188, 44);
    padding: 5px 0px 8px 15px;
    text-align: left;
    font-size: 25px;
    z-index: 200;
  }

  .faqFooter {
    font-size: 17px;
  }

  .line {
    border-width: 2px;
    /* display: none; */
  }
}

@media (max-width: 321px){
  .titleDescriptionLanding {
    font-size: 60px;
  }
}

.footer {
  left: 0;
  bottom: 0;
  background-color: rgba(255, 188, 44, 0.945);
  text-align: left;
  padding: 20px;
  box-shadow: inset 0px 11px 10px -10px rgb(145, 145, 145);
}

.footerItem {
  display: block;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
  color: white;
  padding: 0px 0px 15px 0px;
}

.faqFooter:hover {
  color: black;
}

.faq {
  font-family: Circular-black;
  font-size: 20px;
  padding: 0px;
}

.beerIconLanding {
  height: 25px;
  margin-top: 4px;
  float: right;
  margin-right: 15px;
}
