.wrapper {
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
}

.loading {
  display: none !important;
}

.mapContainer {
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  height: 100%;
}

.sideNav {
  width: 507px;
  overflow: hidden;
  overflow-y: scroll;
  height: 100%;
  position: relative;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.sideNav::-webkit-scrollbar {
  width: 0 !important;
}

@keyframes openSideNav {
  from {
    width: 0px;
  }
  to {
    width: 500px;
  }
}

.list {
  width: 500px;
  height: 100%;
  display: block;
  background: white;
}

.carousel {
  display: none;
}

.sideNavAnimaion {
  animation-name: openSideNav;
  animation-duration: 500ms;
  animation-timing-function: linear;
}

@media screen and (max-width: 1000px) {
  .wrapper {
    flex-direction: column;
  }

  .list {
    display: none;
  }

  .carousel {
    display: block;
    position: fixed;
    bottom: 10px;
    height: auto;
    width: 100%;
  }

  .carouselAnimaion {
    animation-name: open;
    animation-duration: 500ms;
    animation-timing-function: linear;
  }

  @keyframes open {
    from {
      bottom: -220px;
    }
    to {
      bottom: 10px;
    }
  }

  .mapContainer {
    width: 100%;
    height: 100%;
  }

  .sideNav {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0px;
  }
}
