.wrapper {
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
}

.mapContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.sideNav {
  width: 1000px;
  height: 100%;
  position: relative;

}

.sideNavHeader {
  width: 100%;
  height: 50px;
  background: white;
}

.list {
  height: calc(100% - 50px);
  display: block;
  background: white;
}

.carousel {
  display: none;
  height: calc(100% - 50px);
}

.addEntryButton {
  position: absolute;
  top: 10px;
  right: 10px;
}

.timeFilter {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 160px;
}

.milesFilter {
  position: absolute;
  top: 0px;
  right: 160px;
  width: 150px;
  border-right: solid 1px rgba(255, 255, 255, 0.911);
}

@media screen and (max-width: 1000px) {
  .wrapper {
    flex-direction: column;
  }

  .list {
    display: none;
  }

  .carousel {
    display: block;
    position: absolute;
    bottom: 50px;
    height: auto;
    width: 100%;
  }

  .mapContainer {
    width: 100%;
    height: 100%;
  }

  .sideNav {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0px;
  }

  .sideNavHeader {
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0px;
  }

  .timeFilter {
    width: 50%;
  }

  .milesFilter {
    right: 50%;
    width: 50%;
  }
}
