.listItemWrapper:hover {
  cursor: pointer;
}

.itemName {
  font-size: 26px;
  line-height: 25px;
}

.itemLocation {
  color: grey;
  margin-bottom: 5px;
}

.itemDescription {
  margin-bottom: 5px;
  color: rgb(90, 90, 90);
}

.carouselCard {
  border: solid 1px #63b4cf2e;
  border-radius: 5px;
}

.itemInactive {
  background-color: rgba(221, 221, 221, 0.966);
}

.itemUpcoming {
  background-color: rgba(255, 188, 44, 0.945);
}

.itemNow {
  background-color: rgba(41, 179, 28, 0.925);
}

.itemCategory {
  border: none;
  color: rgb(255, 255, 255);
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
  border-radius: 16px;
}

.listItemWrapper {
  text-decoration: none;
  display: block;
  color: rgb(65, 65, 65);
  background-color: rgb(255, 255, 255);
  text-align: left;
  position: relative;
  letter-spacing: 0.5px;
  height: 200px;
  -moz-box-shadow: 0px 0px 6px rgb(170, 170, 170);
  -webkit-box-shadow: 0px 0px 6px rgb(170, 170, 170);
  box-shadow: 0px 0px 6px rgb(170, 170, 170);
  overflow: visible;
  position: relative;
  border: none;
}

.removeBordertrue {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.hoverWrapper {
  padding: 3px;
  margin: 5px;
  border-radius: 5px;
}

.doHover:hover {
  border-color: rgba(255, 188, 44, 0.738);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 188, 44, 0.738);
}

.hoveredtrue {
  padding: 0px;

  border: 3px solid;
  border-color: rgba(255, 188, 44, 0.738);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 188, 44, 0.738);
}

.listItemWrapper::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 210px;
}

.descriptionAndTime {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
  border-radius: 0 0 5px 5px;
  height: 70px;
}

.itemDescription {
  font-size: 14px;
  letter-spacing: 0.5px;
  background-color: rgba(221, 221, 221, 0);
  padding-top: 5px;
  margin-top: 0px;
  border-radius: 5px;
  width: 100%;
  height: 55px;
  left: 12px;

  overflow: hidden;
  max-width: 440px;
  position: relative;
  white-space: nowrap;
}

.itemDescription:after {
  content: "";
  position: absolute;
  left: 440px;
  margin-left: -50px;
  width: 50px;
  height: 100%;
  top: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
}

.itemName {
  font-size: 12px;
  line-height: 18px;
  position: absolute;
  background-color: rgb(211, 211, 211);
  padding: 2px 8px;
  padding-top: 3px;
  margin: 2px 2px;
  border-radius: 16px;
  left: 12px;
  bottom: 85px;
  display: flex;
}

.titleIconInside {
  width: 14px;
  height: 13px;
  padding-right: 3px;
  padding-top: 2px;
}

.titleIcon {
  width: 17px;
  position: absolute;
  background-color: rgb(211, 211, 211);
  padding: 2px 2px;
  margin: 2px 2px;
  border-radius: 16px;
  left: 10px;
  top: 85px;
}

.itemCategory {
  font-size: 16px;
  position: absolute;
  top: 30px;
  right: -7px;
  padding: 4px 10px;
  border-radius: 0px 0px 0px 0px;
  -moz-box-shadow: 0px 0px 6px #ccc;
  -webkit-box-shadow: 0px 0px 6px #ccc;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.356);
}

.barImg {
  overflow: hidden;
  width: 100%;
  height: 130px;
  position: absolute;
  object-fit: cover;
  -webkit-filter: blur(0px); /* Safari 6.0 - 9.0 */
  filter: blur(0px);
  border-radius: 2px 2px 0px 0px;
  animation: unset;
}

.barImgContainer {
  position: relative;
  height: 130px;
  border-radius: 5px 5px 0px 0px;
}

.itemTime {
  font-size: 14px;
  line-height: 18px;
  position: absolute;
  background-color: #ddd;
  padding: 3px 10px;
  left: 10px;
  bottom: 10px;
  color: rgb(65, 65, 65);
}

.emptyListContainer-mobile {
  margin-top: 10px;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.empty-display-mobile {
  text-align: center;
}

.empty-icon-mobile {
  width: 90px;
  margin-left: auto;
  margin-right: auto;
}

.empty-text-mobile {
  font-size: 15px;
  margin-top: 15px;
}

.empty-text-mobile2 {
  color: rgba(216, 157, 30, 0.945);
  font-size: 10px;
}

@media screen and (max-width: 700px) {
  .itemDescription {
    max-width: 280px;
    padding-top: 10px;
  }

  .itemDescription:after {
    left: 280px;
  }

  .hoveredtrue {
    border: none;
  }
}

@supports (-webkit-touch-callout: none) {
  .barImg {
    animation: unset !important;
  }
}
