.listItemWrapper {
  border-left: 5px solid black;
  margin-bottom: 10px;
  padding: 15px;
  background-color: white;
  text-align: left;
}

.listItemWrapper:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.itemName {
  font-size: 26px;
  line-height: 25px;
}

.titleIcon{
  width: 20px;
  position: absolute;
  margin-top: 0px;
}

.itemLocation {
  color: grey;
  margin-bottom: 5px;
}

.itemDescription {
  margin-bottom: 5px;
}

.carouselCard {
  border: solid 1px #63b4cf2e;
  border-radius: 5px;
  margin: 5px;
}


@media screen and (max-width: 1000px) {
  .listItemWrapper {
    height: 180px;
  }

  .itemDescription {
    margin-bottom: 10px;
  }

  .itemName {
    font-size: 18px;
    line-height: 22px;
    margin-left: 24px;
    margin-bottom: 50px;
  }

}
