.listItemWrapper {
  border-left: 5px solid black;
  margin-bottom: 10px;
  padding: 15px;
  background-color: white;
  text-align: left;
  position: relative;
}

.listItemWrapper:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.itemName {
  font-size: 26px;
  line-height: 25px;
}

.itemLocation {
  color: grey;
  margin-bottom: 5px;
}

.itemDescription {
  margin-bottom: 5px;
}

.carouselCard {
  border: solid 1px #63b4cf2e;
  border-radius: 5px;
  margin: 5px;
}

.itemInactive{
  background-color: #ddd;
}

.itemUpcoming{
  background-color: rgb(255, 188, 44);
}

.itemNow{
  background-color: rgb(48, 207, 34);
}

.barImg{
  display: none;
}

.itemCategory{
  border: none;
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 16px;
}


@media screen and (max-width: 1000px) {
  .listItemWrapper {
    height: 180px;
  }

  .itemDescription {
    margin-bottom: 10px;
    margin-top: 100px;
  }

  .itemName {
    font-size: 14px;
    line-height: 18px;
    position: absolute;
    background-color: #ddd;
    padding: 3px 10px;
    margin: 2px 2px;
    border-radius: 16px;
    left: 10px;
    top: 12px;
  }

  .itemCategory{
    font-size: 14px;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  .barImg{
    width: 100%;
    height: 100px;
    position: absolute;
    /* background-color: rgb(0, 0, 0); */
    object-fit: cover;
    margin:-15px;
    border-radius: 3px;
  }

  .titleIcon{
    width: 18px;
    position: absolute;
    background-color: #ddd;
    padding: 2px 2px;
    margin: 2px 2px;
    border-radius: 16px;
    left: 10px;
    top: 13px;
  }

}
