.timetable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 20px;
  display: block;
  width: 100vw;
  overflow: scroll;
}

.timetable td,
.timetable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.timetable td {
  border: none;
  padding: 2px;
  border-spacing: 0;
  width: 2px;
  border-spacing: 0px;
}

.timetable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.timetable tr:hover {
  background-color: #ddd;
}

.timetable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}

.isOpen {
  background-color: #4caf50;
}

.isDeal {
  background-color: rgb(255, 188, 44);
}
