.img {
  width: 100%;
  opacity: 0;
}

.imgLoaded {
  opacity: 1;
  animation: fade-in 1000ms;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.imgSkeleton {
  background-color: #e9e9e9;
}

.blurImageContainer {
  position: relative;
}

.blurImage {
  position: absolute;
}

.blurMainImage {
  position: absolute;
}
