.slick-next, .slick-prev {

}

.slick-next {
  right: 25px;
}

.slick-next::before {
  color: blue;
}

.slick-prev {
  left: 25px;
}

.slick-prev::before {
  color: blue;
}

.nextArrow {
  position: absolute;
  right: 25px;
  top: calc(50% - 5px);
  display: inline-block;
  padding: 10px;
  box-shadow: 5px -5px 0 0 grey inset;
  transform: rotate(225deg);
  cursor: pointer;
  z-index: 10;

}

.prevArrow {
  position: absolute;
  left: 25px;
  top: calc(50% - 5px);
  display: inline-block;
  padding: 10px;
  box-shadow: 5px -5px 0 0 grey inset;
  transform: rotate(45deg);
  cursor: pointer;
  z-index: 10;
}
