@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #7ccefc;
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  70% {
    -webkit-box-shadow: 0 0 0 30px #ff981100;
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 #ff981100;
    transform: scale(0.9);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 #7ccefc;
    box-shadow: 0 0 0 0 #7ccefc;
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  70% {
    -moz-box-shadow: 0 0 0 30px #ff981100;
    box-shadow: 0 0 0 30px #ff981100;
  }
  100% {
    -moz-box-shadow: 0 0 0 0 #ff981100;
    box-shadow: 0 0 0 0 #ff981100;
    transform: scale(0.9);
  }
}

.marker {
  cursor: pointer;
}

.currentLocation {
  height: 20px;
  width: 20px;
  display: block;
  border-radius: 50%;
  background: #42a9e3;
  cursor: pointer;
  box-shadow: 0 0 0 #42a9e3;
  animation: pulse 2s infinite;
  -webkit-transform: translate(-50%, -50%);
}

.markerNow {
  border-color: rgb(41, 179, 28);
}

.markerInactive {
  border-color: rgb(150, 150, 150);
  opacity: 0.6;
}

.markerUpcoming {
  border-color: #ff9811;
}

.hovered {
  border-radius: 50%;
  border-width: 16px;
  border-style: solid;
  /* border-color: #ff9811; */
  width: 16px;
  height: 16px;
  transform: translate(-50%, calc(-50% - 60px));
  opacity: 0.9;
}

.hovered::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  bottom: -60px;
  left: -12px;
  border-width: 20px;
  border-style: solid;
  border-color: transparent;
  /* border-top-color: #ff9811; */
  border-top-width: 34px;
  border-top-style: solid;
}

.plainMarker {
  position: relative;
  border-radius: 50%;
  border-width: 8px;
  border-style: solid;
  /* border-color: #ff9811; */
  width: 8px;
  height: 8px;
  transform: translate(-50%, calc(-50% - 30px));
  opacity: 0.9;
}

.plainMarker::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  bottom: -30px;
  left: -6px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent;
  /* border-top-color: #ff9811; */
  border-top-width: 17px;
  border-top-style: solid;
}

.markerNow::after {
  border-top-color: rgb(41, 179, 28);
}

.markerInactive::after {
  border-top-color: rgb(150, 150, 150);
}

.markerUpcoming::after {
  border-top-color: #ff9811;
}
