@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #ff981186;
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px #ff981100;
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 #ff981100;
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 #ff981183;
    box-shadow: 0 0 0 0 #ff981169;
  }
  70% {
    -moz-box-shadow: 0 0 0 10px #ff981100;
    box-shadow: 0 0 0 10px #ff981100;
  }
  100% {
    -moz-box-shadow: 0 0 0 0 #ff981100;
    box-shadow: 0 0 0 0 #ff981100;
  }
}

.marker {
  cursor: pointer;
}

.currentLocation {
  height: 20px;
  width: 20px;
  display: block;
  border-radius: 50%;
  background: #ff9811;
  cursor: pointer;
  box-shadow: 0 0 0 #ff981180;
  animation: pulse 2s infinite;
  -webkit-transform: translate(-50%, -50%);
}

.markerWrapper {
}

.hovered {
  border-radius: 50%;
  border: 16px solid #ff9811;
  width: 16px;
  height: 16px;
  transform: translate(-50%, calc(-50% - 60px));
}

.hovered::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  bottom: -60px;
  left: -12px;
  border: 20px solid transparent;
  border-top: 34px solid #ff9811;
}

.plainMarker {
  position: relative;
  border-radius: 50%;
  border: 8px solid #ff9811;
  width: 8px;
  height: 8px;
  transform: translate(-50%, calc(-50% - 30px));
}

.plainMarker::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  bottom: -30px;
  left: -6px;
  border: 10px solid transparent;
  border-top: 17px solid #ff9811;
}

.markerInactive{
  opacity: 0.4;
}

.markerUpcoming{
  opacity: 0.4;
  /* border: 8px solid #ff9811; */
}