.SellingPage {
}

.SellingPageTopBlock {
  width: 100%;
  height: 900px;
  /* z-index: 1; */
  position: relative;
  overflow: hidden;
}

.SellingPageTopBlock:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 900px;
  z-index: -1;
  /* background-color: rgb(255, 216, 153); */
  background-color: rgba(6, 139, 139, 0.375);
  /* background: linear-gradient(rgb(255, 179, 57), rgb(255, 212, 142)); */
  border-radius: 0 0 50% 50%/0 0 100% 100%;
  transform: scaleX(1.8);
}

.SellingPageTopBlock button {
  padding: 35px 52px;
  text-align: center;
  background-color: rgb(6, 139, 139);
  border: none;
  color: white;
  border-radius: 16px;
  font-size: 26px;
  font-weight: bold;
  margin-top: 0px;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, .1), 0 8px 16px 0 rgba(0, 0, 0, .1);
  cursor: pointer;
  transition: ease 0.5s;
}

.SellingPageTopBlock button:hover {
  background-color: rgb(0, 115, 115);
  transform: translateY(-5px);
}

.SellingPageTopBlockTitle {
  padding-top: 200px;
  margin: auto;
  /* color: white; */
  color: #212529;
  font-size: 70px;
  font-family: Circular-Bold;
  max-width: 1200px;
}

.SellingPageTopBlockMicroTitle {
  padding-top: 10px;
  margin: auto;
  margin-bottom: 40px;
  /* color: white; */
  color: #495057;
  font-size: 22px;
  max-width: 800px;
}

.SellingPageTopBlock p {
  color: #495057;
  font-size: 18px;
}

.SellingPagePreviewImage {
  width: 800px;
  margin-top: -180px;
  transition: ease 0.5s;
}

.SellingPageProblem h1 {
  font-size: 34px;
  font-family: Circular-Bold;
  color: #212529;
}

.SellingPageProblem p {
  font-size: 22px;
  color: #495057;
  font-weight: lighter;
  margin: auto;
  max-width: 700px;
}

.SellingPageProblem {
  margin-top: 40px;
  margin-bottom: 100px;
}

.SellingPageFeature {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 120px;
}

.SellingPageFeature div {
  max-width: 540px;
  text-align: left;
}

.SellingPageFeature h2 {
  font-family: Circular-Bold;
  line-height: 1.1;
  color: #212529;
  font-size: 30px;
  margin: auto;
  margin-top: -10px;
}

.SellingPageFeature p {
  font-size: 22px;
  line-height: 1.4;
  color: #495057;
  text-align: left;
  margin: auto;
  margin-top: 10px;
}

.SellingPageFeature img {
  width: 260px;
  margin-bottom: -78px;
}

.SellingPageCallToAction {
  background-color: rgba(6, 139, 139, 0.747);
  color: white;
  font-size: 30px;
  padding: 50px;
  margin-top: 200px;
}

.SellingPageCallToAction h2 {
  max-width: 800px;
  margin: auto;
  font-size: 60px;
}

.SellingPageCallToAction button {
  padding: 35px 52px;
  text-align: center;
  color: rgb(6, 139, 139);
  background-color: white;
  border: none;
  border-radius: 16px;
  font-size: 26px;
  font-weight: bold;
  margin-top: 0px;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, .1), 0 8px 16px 0 rgba(0, 0, 0, .1);
  cursor: pointer;
  transition: ease 0.5s;
  margin-top: 30px;
}

.SellingPageCallToAction button:hover {
  transform: translateY(-5px);
}

.SellingPageCallToAction p {
  font-size: 18px; 
}