@media screen and (max-width: 1000px) {

    .detailsWrapper{
        padding: 25px;
        padding-top: 0px;
        color: rgb(72, 72, 72);
    }
    
    .detailsImg{
        width: 100%;
        height: 220px;
        position: center;
        object-fit: cover;
        -webkit-filter: blur(0px); /* Safari 6.0 - 9.0 */
        filter: blur(0px);
    }
    
    .detailsName{
        padding-top: 15px;
        font-size: 18px;
    }

    .detailsAddress{
        padding-top: 10px;
        font-size: 12px;
        font-weight: 200;
    }

    .line{
        color: rgba(255, 255, 255, 0);
        border-bottom: 1px solid rgb(202, 202, 202);
    }
        
    .detailsWebsite{
        border: none;
        color: rgb(255, 255, 255);
        background-color: rgb(255, 188, 44);
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 2px;
        /* margin-top: 10px; */
        font-size: 15px;
        position: absolute;
        top: 203px;
        right: 40px;
        -moz-box-shadow: 0px 0px 6px rgb(170, 170, 170);
        -webkit-box-shadow: 0px 0px 6px rgb(170, 170, 170);
        box-shadow: 0px 1px 3px rgb(46, 46, 46);
    }

    .dealsTitle{
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 18px;
        color: rgb(72, 72, 72);
    }
}